apiVersion: apps/v1 
kind: Deployment
metadata:
  namespace: rokhnamespace
  name: nginx-deployment
  labels:
    app: nginx

spec:
  #replicas: 5
  selector:
    matchLabels:
      app: nginx

  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: web
          image: nginx:1.19
          ports:
            - containerPort: 80  
